@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);

body{
    margin: 0%;
    background-color: #FF7E00;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

h2{
    font-size: 2em;
}

h3{
    font-size: 1em;
}

#slideShowView{
    
    border: 10px;
    border-style: double;
}

#slideShowTitle{
    display: block;
    margin-top: 4%;
    text-align: center;
    padding: 4%;
}

#slideImg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 50%;
    width: 55%;
}

#slideCaption{
    display: block;
    text-align: center;
    padding: 4%;
}

#playBar{
    margin: 0px auto;
    padding: 5%;
}

#slideShowView{
    background-color: #ededed;
    margin: 0px auto;
    margin-left: 20%;
    margin-right: 20%;
}

td{
    padding-left: 1em;
    padding-right: 1em;
}
td img{
    border: 3px solid;
    border-radius: 25%;
    box-shadow: 0,0,10px, #333;
    border-color: #000000;
    padding: 5px;
}

td img:hover{
    border: 3px solid;
    border-radius: 25%;
    box-shadow: 0,0,10px, #333;
    border-color: #a9e2cf;
    padding: 5px;
}


