@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:300);
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:300);

body{
    margin: 0%;
    background-color: #FFB347;
}


h2{
    font-size: 2em;
	margin: 0%;
}

h3{
    font-size: 1.2em;
}

#slideShowView{
    
    border: 10px;
    border-style: double;
	border-color: #FE6F5E;
}

#slideShowTitle{
    display: block;
	padding-left: 3%;
	font-family: 'Source Code Pro';
}

#title{
	border: 4px;
	background-color: #FFF3E0;
	border-top-style: double;
	border-color: #FE6F5E;



}

#slideImgBox{
	height: 50%;
	width: 100%;
}

#slideImg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 60%;
	padding-top: 4%;
	max-width: 100%;
}

#slideCaption{
    display: block;
    text-align: center;
    padding: 2%;
	font-family: 'Alegreya Sans SC', sans-serif;
}

#playBar{
    margin: 0px auto;
    padding: 5%;
}

#slideShowView{
    background-color: #ededed;
    margin: 0px auto;
    margin-left: 20%;
    margin-right: 20%;
}

td{
    padding-left: 1em;
    padding-right: 1em;
}
td img{
    border: 3px solid;
    border-radius: 25%;
    box-shadow: 0,0,10px, #333;
    border-color: #000000;
    padding: 5px;
}

td img:hover{
    border: 3px solid;
    border-radius: 25%;
    box-shadow: 0,0,10px, #333;
    border-color: #a9e2cf;
    padding: 5px;
}


