body{
    margin: 0px;
    background-color: #aa7676;
}

#slideShowTitle{
    display: block;
    margin-top: 4%;
    text-align: center;
    padding: 4%;
}

#slideImg{
    margin: 0px auto;
    margin-top: 3%;
    margin-bottom: 3%;
    height: 480px;
    width: 720px;
}

#slideCaption{
    display: block;
    text-align: center;
    padding: 4%;
}

#playBar{
    margin: 0px auto;
    padding: 5%;
}

#slideShowView{
    background-color: #ededed;
    margin: 0px auto;
    margin-left: 20%;
    margin-right: 20%;
}

td{
    padding-left: 1em;
    padding-right: 1em;
}

td img:hover{
    border: 3px solid;
    border-radius: 25%;
    box-shadow: 0,0,10px, #333;
    border-color: #a9e2cf;
}
