.alertStyle{
    -fx-background-color: #FF9900;
}
.alertStyle > *.button-bar > *.container{
    -fx-background-color: #FF9800;
}
.alertStyle > *.label.content{
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}
.alertStyle:header *.header-panel{
    -fx-background-color: #FFFFFF;
}
.alertStyle:header *.header-panel *.label{
    -fx-font-size: 18px;
    -fx-font-style: italic;
    -fx-fill: #292929;
}