/** 
 *  This CSS provides all the style settings for
 *  our JavaFX controls.
 *
 *  @author McKilla Gorilla & _____________
 */

@import url(https://fonts.googleapis.com/css?family=Dosis:400,300);
@import url(https://fonts.googleapis.com/css?family=Oxygen);

.slide_show_edit_vbox {
    -fx-background-radius: 0;
    -fx-background-color:#E65100;
    -fx-border-width: 2px;
    -fx-alignment: CENTER;
    -fx-padding: 0 3 0 3;
    -fx-spacing: 40;
}

.slide_edit_view {
    -fx-background-radius: 0;
    -fx-background-color: #F57F17;
    -fx-border-color: rgb(70, 5, 5);
    -fx-border-thickness: 10px;
    -fx-spacing: 60px;
    -fx-padding: 0 30 0 0;
}

.vertical_toolbar_button {
    -fx-background-color: #FF9800;
    -fx-padding: 10 10 10 10;
}

.horizontal_toolbar_button {
    -fx-background-color: #FDFDFD;
    -fx-background-radius: 0;
    
}

.horizontal_toolbar_button:disabled{
    -fx-background-color: #FEFEFE;
    
}

.viewBoxCSS{
    
    -fx-padding-top: 20px;
    -fx-padding-bottom: 20px;
}

.SelectedSlide{
    
    -fx-background-color: #FFCF53;
}

.DeSelectedSlide{
    -fx-background-color:  #FF9900;
    
}

.slideShowWorkSpace{
    -fx-background-color: #FFF3E0;
    
}

.scrollpane{
    

}

.topToolBar{
    
    -fx-background-color: #FF9800;
    -fx-background-radius: 0;
    -fx-hgap: 5;
}

.mainLayout{
    -fx-background-color: #FFF3E0;
    
}

.roundButton{
    
    -fx-background-radius: 100;

}

.text-field {
    -fx-background-color: #a9a9a9 , white , white;
    -fx-font-family: 'Dosis', sans-serif;
    -fx-font-size: 15px;

}

.captionLabel{
    -fx-font-family: 'Oxygen', sans-serif;
    -fx-text-fill: #ffffff;
    -fx-font-size: 15px;
    -fx-padding: 20 200 0 0;
    
}
