/** 
 *  This CSS provides all the style settings for
 *  our JavaFX controls.
 *
 *  @author McKilla Gorilla & _____________
 */

.slide_show_edit_vbox {
    -fx-background-radius: 5.0;
    -fx-background-color:#E65100;
    -fx-border-color: rgb(50, 5, 5);
}

.slide_edit_view {
    -fx-background-radius: 10.0;
    -fx-background-color: #F57F17;
    -fx-border-color: rgb(70, 5, 5);
    -fx-border-thickness: 10px;
    -fx-spacing: 60px;
    -fx-padding-right: 5px;
}

.vertical_toolbar_button {
    -fx-background-color: #FF9800;
    -fx-padding: 10px 10px 10px 10px;
    -fx-spacing: 50px;
}

.horizontal_toolbar_button {
    -fx-background-color: #FDFDFD;
    -fx-padding-left: 10px;
    -fx-padding-right: 20px;
}

.horizontal_toolbar_button:disabled{
    -fx-background-color: #FEFEFE;
    
}

.viewBoxCSS{
    
    -fx-padding-top: 20px;
    -fx-padding-bottom: 20px;
}

.SelectedSlide{
    
    -fx-background-color: #FFCF53;
}

.DeSelectedSlide{
    -fx-background-color:  #FF9900;
    
}

.slideShowWorkSpace{
    -fx-background-color: #FFF3E0;
    
}

.topToolBar{
    
    -fx-background-color: #FF9800;
}

.mainLayout{
    -fx-background-color: #FFF3E0;
    
}
